.yarl__slide_image {
    border-radius: 0.8rem;
}

.yarl__slide {
    padding: 0;
}

.imagesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

#btn {
    background-color: var(--white);
    width: 3rem;
    height: 3rem;
    text-align: end;
    padding: 0;
    z-index: 100;
    top: 23%;
    left: 38.5%;
}

@media (max-width:600px) {
    .yarl__thumbnails_container {
        display: none;
    }
    .yarl__slide_image {
        border-radius: 0rem;
    }
    #btn {
        top: 12% !important;
        left: 86% !important;
        /* margin: 1rem; */
    }
}

@media (max-width:290px) {
    #btn {
        top: 13% !important;
        left: 82% !important;
    }
}