.yarl__slide_image {
    border-radius: 0.8rem;
}

.yarl__slide {
    padding: 0;
}

.imagesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    padding: 4rem 0;
}

.btn {
    background-color: var(--white);
    width: 3rem;
    height: 3rem;
    text-align: end;
    padding: 0;
}