.mainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3rem;
    padding: 3rem 0;
}

.mainContainer .left {
    width: 50%;
}

.mainContainer .right {
    width: 50%;
}