.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 3rem;
    gap: 1rem;
}

.productInfo .company {
    color: var(--orange);
    font-size: var(--fontP);
    font-family: var(--font-family);
    font-weight: 700;
    margin: 0;
}

.productInfo .edition {
    color: var(--veryDarkBlue);
    font-size: 3rem;
    font-family: var(--font-family);
    margin: 0;
}

.productInfo .description {
    font-weight: 400;
    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--darkGrayishBlue);
    width: 100%;
}

.numbers {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.numbers .priceContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.priceContainer .price {
    color: var(--veryDarkBlue);
    font-size: 2rem;
    font-family: var(--font-family);
    margin: 0;
}

.priceContainer .discount {
    color: var(--orange);
    background-color: var(--paleOrange);
    font-size: var(--fontP);
    font-family: var(--font-family);
    margin: 0;
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
}

.pastPrice {
    margin: 0;
    font-size: 1.3rem;
    color: var(--grayishBlue);
    text-decoration: line-through;
}

.buttonSection {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
}

.buttonSection .quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--lightGrayishBlue);
    gap: 1rem;
    border-radius: 6px;
    width: 33%;
}

.buttonSection .btn svg {
    padding: 0.5rem;
    color: var(--orange);
    font-weight: var(--fontBold);
}

.buttonSection .addCart {
    background-color: var(--orange);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 66%;
    gap: 1rem;
    border: none;
    border-radius: 6px;
}

@media (max-width:2560px) {
    .productInfo {
        padding: 0;
        gap: 4rem;
        justify-content: space-evenly;
    }
}

@media (max-width: 1025px) {
    .productInfo {
        margin: 0rem 3rem;
        gap: 0.5rem;
    }
    .edition {
        font-size: 2.3rem !important;
    }
    .description {
        margin: 0.5rem 0;
    }
    .buttonSection {
        margin-top: 1rem;
    }
}

@media (max-width: 800px) {
    .productInfo {
        margin: 2rem;
    }
    .edition {
        font-size: 2.3rem !important;
    }
    .numbers {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .buttonSection {
        flex-direction: column;
        width: 100%;
    }
    .buttonSection .quantity,
    .buttonSection .addCart {
        width: 100%;
    }
    .buttonSection .addCart {
        padding: 1rem;
    }
}

@media (max-width:290px) {
    .numbers {
        flex-direction: column;
        align-items: flex-start;
    }
}